.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  padding: 15px 0;
  grid-row-gap: 10px;
  width: 100%;
  @include breakpoint(medium) {
    width: 100%;
  }

  svg {
    margin-right: 8px;
    fill: var(--primary-colour);
  }
}
