.modules {
  grid-column-gap: 60px;
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint(medium) {
    grid-template-columns: 2fr 1fr;
  }

  .headline {
    border-bottom: 3px solid #000;
    text-transform: uppercase;
    font-weight: bold;
  }

  .mainContent {
    order: 2;
    @include breakpoint(medium) {
      order: 1;
    }
  }

  .sidebar {
    order: 2;
    @include breakpoint(medium) {
      order: 1;
    }
  }

}
