:root {
  font-family: 'Karla', Arial, sans-serif;
  --black: #393531;
  --blue: rgba(137,212,255,0.5);
  line-height: 1.42857;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    color: white;
    background: var(--black);
  }
}

html {
  font-size: 16px;
  color: var(--black);
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

ul li p {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 50px;
}

a {
  color: var(--black);
  border-bottom: 4px solid var(--blue);
  background: -webkit-gradient(linear,left top,left bottom,from(var(--blue)),to(var(--blue))) bottom no-repeat;
  background: linear-gradient(var(--blue),var(--blue) 100%) bottom no-repeat;
  background-size: 100% 0;
  -webkit-transition: background-size .1s;
  transition: background-size .1s;
  text-decoration: none;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 7%;
}

blockquote {
  margin: 0;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
